#our-products-wrapper {
    display: flex;
    flex-direction: column;
}

#our-products-wrapper > h1 {
    margin: 32px auto;
}

#products {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

@media (max-width: 320px) {
    #products {
        flex-direction: column;
    }

    #products > .product + .product {
        margin-top: 16px;
    }
}
