#hero-section {
    padding: 50px 18%;
    background-color: #EEF0F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-section > h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 33.8px;
}

#academy-description-paragraph {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4B4B4B;
}

#invitation-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #4B4B4B;
}

#hero-section-form-wrapper > form {
    display: flex;
}

#hero-section-form-wrapper > form > input[type="text"] {
    width: 324px;
    height: 45px;
    border-radius: 8px;
    padding: 0 20px;
    border: 1px solid #C0C0C0;
    box-sizing: border-box; /* need for the same size as submit button */
    font-size: 14px;
    line-height: 21px;
}

#hero-section-form-wrapper > form > button[type="submit"] {
    width: 98px;
    height: 45px;
    padding: 0 24px;
    gap: 8px;
    border-radius: 8px;
    background: #3366FF;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-sizing: border-box;
}
