#hero-section-wrapper {
    padding: 50px 18%;
    background-color: #EEF0F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#hero-section-wrapper > h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 33.8px;
    text-align: center;
}

#hero-section-wrapper > p {
    padding: 24px 0;
    font-weight: 400;
    text-align: center;
    color: #4B4B4B;
}

#hero-section-description {
    font-size: 16px;
    line-height: 24px;
}

#hero-section-question {
    font-size: 14px;
    line-height: 21px;
}


@media (max-width: 320px) {
    #hero-section-wrapper {
        padding: 24px 24px;
    }
}

